@inherits LayoutComponentBase
@using BisleriumCafe.Model;
@inject ISnackbar Snackbar;
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager;
@inject BisleriumCafe.Services.SessionService _sessionService;
@inject BisleriumCafe.Services.AuthService _authService;
@inject BisleriumCafe.Repositories.Repository<User> _usersRepository;
@inject BisleriumCafe.Repositories.Repository<Customer> _customersRepository;
@inject BisleriumCafe.Repositories.Repository<CoffeeType> _coffeeRepository;
 @inject BisleriumCafe.Repositories.Repository<CoffeeAddIn> _addInsRepository;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPaper Height="100vh" Width="100%" Style="overflow:hidden">
    <MudAppBar Dense="true" Elevation="0" Class="background-dense d-flex justify-space-between flex-grow-1">
        <MudItem Class="d-flex gap-3 align-items-center">
            <MudIconButton Class="color-dark" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="ToggleDrawer" Size="Size.Medium" />

            <MudItem Class="d-flex gap-2 align-items-center">
                <MudText Class="color-dark fw-bold ls-tighter" Typo="Typo.h5" Color="Color.Dark">Bislerium Cafe</MudText>

                <MudIcon Icon="@Icons.Material.Filled.Coffee" Size="Size.Medium" Class="color-dark" />
            </MudItem>

        </MudItem>

        <MudSpacer />
        <MudMenu Class="color-dark" Icon="@Icons.Material.Filled.Person" Size="Size.Medium">
            <MudMenuItem Link="/">Home</MudMenuItem>
            <MudMenuItem Link="explore">Explore</MudMenuItem>

            @if (_authService.CurrentUser is not null)
            {
                <MudMenuItem Link="profile">Profile</MudMenuItem>

                @if (_authService.CurrentUser.Role == UserRole.Admin)
                {
                    <MudMenuItem Link="coffee-type">Dashboard</MudMenuItem>
                }
                @if (_authService.CurrentUser.Role == UserRole.Staff)
                {
                    <MudMenuItem Link="staff-dashboard">Dashboard</MudMenuItem>
                }

                @if (_authService.CurrentUser.Role == UserRole.Customer)
                {
                    <MudMenuItem Link="my-orders">My Orders</MudMenuItem>
                }
                <MudMenuItem OnClick="@HandleLogOut">Logout</MudMenuItem>
            }
            else
            {

                <MudMenuItem Link="order-now">Order now</MudMenuItem>
            }
        </MudMenu>
    </MudAppBar>
    <div style="height: 48px;" />
    <MudDrawerContainer Class="mud-height-full background-dense" Style="overflow:hidden">
        <MudDrawer Height="auto" @bind-Open="@IsDrawerOpen" Elevation="0" Variant="@DrawerVariant.Persistent" Class="background-dense" Style="top:50%;transform:translateY(-50%)">
            <MudNavMenu>
                <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Home" IconColor="Color.Dark" Class="d-flex align-items-center">
                    <MudText Typo="Typo.h6" Color="Color.Dark">Home</MudText>
                </MudNavLink>
                <MudNavLink Href="/explore" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Coffee" IconColor="Color.Dark" Class="d-flex align-items-center">
                    <MudText Typo="Typo.h6" Color="Color.Dark">Explore</MudText>
                </MudNavLink>


                @if (_authService.CurrentUser is not null)
                {
                    @if (_authService.CurrentUser.Role == UserRole.Admin)
                    {
                        <MudNavGroup Icon="@Icons.Material.Filled.Dashboard" Title="Dashboard" @bind-Expanded=IsDashboardMenuExpanded>
                            <MudNavLink Href="/dashboard/coffee">Coffees</MudNavLink>
                            <MudNavLink Href="/dashboard/addins">Add-Ins</MudNavLink>
                            <MudNavLink Href="/dashboard/staffs">Staffs</MudNavLink>
                        </MudNavGroup>

                    }

                    @if (_authService.CurrentUser.Role == UserRole.Staff)
                    {
                        <MudNavLink Href="/staff-dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Dark" Class="d-flex align-items-center">
                            <MudText Typo="Typo.h6" Color="Color.Dark">Dashboard</MudText>
                        </MudNavLink>

                    }

                    <MudNavLink Href="/profile" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Dark" Class="d-flex align-items-center">
                        <MudText Typo="Typo.h6" Color="Color.Dark">Profile</MudText>
                    </MudNavLink>


                    <MudNavLink OnClick="@HandleLogOut" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Dark" Class="d-flex align-items-center">
                        <MudText Typo="Typo.h6" Color="Color.Dark">Logout</MudText>
                    </MudNavLink>

                }
                else
                {
                    <MudNavLink Href="/login" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Dark" Class="d-flex align-items-center">
                        <MudText Typo="Typo.h6" Color="Color.Dark">Login</MudText>
                    </MudNavLink>
                }

            </MudNavMenu>
        </MudDrawer>

        <div class="d-flex flex-column gap-4 mud-height-full background-light p-4" style="overflow-y:scroll;padding-bottom:6rem !important;">
            @Body
        </div>
    </MudDrawerContainer>
</MudPaper>
@code {
    bool IsDrawerOpen = true;
    bool IsDashboardMenuExpanded = false;

    // Repositories


    protected override async Task OnInitializedAsync()
    {
        await _usersRepository.LoadAsync();
        await _customersRepository.LoadAsync();
        await _coffeeRepository.LoadAsync();
        await _addInsRepository.LoadAsync();
        try
        {
            await _authService.CheckSession();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, MudBlazor.Severity.Error);
        }
    }

    void ToggleDrawer()
    {
        IsDrawerOpen = !IsDrawerOpen;
        StateHasChanged();
    }

    void HandleLogOut()
    {
        _authService.LogOut();
        _navigationManager.NavigateTo("/");
        Snackbar.Add("Logged out successfully", MudBlazor.Severity.Success);

    }
}