@using BisleriumCafe.Enums;
@using BisleriumCafe.Helpers

<table style="width: 100%; border-collapse: collapse; margin-top: 20px; background-color: #F5EDDA; border: 2px solid #8B4513; color: #8B4513;">
    <thead>
        <tr style="background-color: #8B4513; color: #F5EDDA; font-weight: bold;">
            @foreach (var h in headings)
            {
                <th style="padding: 10px; border: 2px solid #8B4513;">@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Order orderData in OrderData)
        {
            <tr style="background-color: #F5EDDA;">
                <td style="padding: 10px; border: 2px solid #8B4513;">@Index</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">@Date.GetFormattedDate(orderData.OrderDate)</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">@orderData.Quantity</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">Rs. @orderData.Discount.ToFormattedDecimal()</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">Rs. @orderData.ServiceCharge</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">Rs. @orderData.Total.ToFormattedDecimal()</td>
                <td style="padding: 10px; border: 2px solid #8B4513;">Rs. @orderData.GrandTotal.ToFormattedDecimal()</td>
            </tr>
            Index++;
        }
    </tbody>
</table>



@code {

    int Index = 1;

    private string[] headings = new string[] { "SN", "Order Date", "Quantity", "Discount", "SC", "Total","Grand Total" };

    [Parameter]
    public DatePeriod DatePeriod { get; set; } = DatePeriod.Monthly;

    [Parameter]
    public IEnumerable<Order> OrderData { get; set; }

[Parameter]
public DateTime? SelectedDate { get; set; }


}
